body {font-family: Arial, sans-serif; padding: 0 20px 20px 20px;}
h1 {margin: 5px;}
h2 {font-size: 20px; margin: 0 0 15px;}
p {margin: 15px 0 5px 0;}
select {font-size: 16px; margin: 0 0 3px; width: 70px; height: 25px}
.check {font-size: 16px;}
.score {margin: 10px 0 10px}
.select-p {margin: 0;}
.section {border: 2px solid #333; padding: 15px 15px 0; margin-bottom: 25px; border-radius: 8px;}
.section-images {display: flex; flex-wrap: nowrap; gap: 10px; align-items: flex-start;}
.section-images img {width: auto; height: 250px; max-width: none; max-height: none; display: block;}
.question { margin: 10px 0 20px; padding-bottom: 10px; border-bottom: 1px solid #ccc; }
.question img {width: auto; height: auto; max-width: none; max-height: none; display: block; margin-bottom: 10px;}
.result { margin-top: 10px; font-weight: bold; }
.correct { color: green; }
.wrong { color: red; }
